*{
  box-sizing: border-box;
}

body {
 font-size: 18px;
}

.top {
	height: 60px;
	width: 320px;
	opacity: 0.95;
	background-color: #1D1D1B;
}

.menu {
	height: 12px;
	width: 35px;
	color: #AE9A91;
	font-family: 'Palanquin';
	font-size: 12px;
	letter-spacing: 0.5px;
	line-height: 12px;
	text-align: right;
	text-shadow: 0 5px 10px 0 rgba(248,244,227,0.15);
}

.burger {
	height: 14px;
	width: 18px;
}

.content {
	height: 2852px;
	width: 320px;
}

.vizual {
	height: 568px;
	width: 320px;
}

.vizual-mobile {
	height: 568px;
	width: 320px;
	background: linear-gradient(180deg, #573D31 0%, #1D1D1B 100%);
}

.vyrobce-svi-ek-premi {
	height: 80px;
	width: 260px;
	color: #FFFFFF;
	font-family: 'Quicksand';
	font-size: 32px;
	font-weight: 500;
	letter-spacing: 0.5px;
	line-height: 40px;
	text-align: center;
	text-shadow: 0 5px 10px 0 rgba(248,244,227,0.15);
}
.jsme-jedine-ni-tim {
	height: 120px;
	width: 260px;
	color: #FFFFFF;
	font-family: 'Palanquin';
	font-size: 16px;
	letter-spacing: 0.5px;
	line-height: 24px;
	text-align: center;
	text-shadow: 0 5px 10px 0 rgba(248,244,227,0.15);
}

.c-2-a-shop {
	height: 60px;
	width: 290px;
} 

.nakoupit-v-e-shopu {
	height: 36px;
	width: 182px;
	color: #FFFFFF;
	font-family: 'Palanquin';
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0.5px;
	line-height: 36px;
	text-align: center;
	text-shadow: 0 5px 10px 0 rgba(248,244,227,0.15);
}

.btn-full {
  margin-left: 15px;
	height: 60px;
	width: 290px;
	border-radius: 4px;
	background-color: rgba(138,203,193,0.8);
	box-shadow: 0 5px 10px 0 rgba(138,203,193,0.2);
}

.c-2-a-exkurze {
	height: 60px;
	width: 290px;
}

.exkurze-do-vyroby {
	height: 36px;
	width: 171px;
	color: #F8F4E3;
	font-family: 'Palanquin';
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0.5px;
	line-height: 36px;
	text-align: center;
	text-shadow: 0 5px 10px 0 rgba(248,244,227,0.15);
}

.btn-ghost {
  margin-top: 20px;
  margin-left: 15px;
	height: 60px;
	width: 290px;
	border: 1px solid #F8F4E3;
	border-radius: 4px;
	background-color: rgba(29,29,27,0.2);
	box-shadow: 0 5px 10px 0 rgba(248,244,227,0.15);
}

.kolekce {
	height: 558px;
	width: 320px;
}

.kolekce-bg {
	height: 558px;
	width: 320px;
	background-color: #FFFFFF;
}

.vybrane-kolekce-na-i {
	height: 60px;
	width: 260px;
	color: #1D1D1B;
	font-family: Quicksand;
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 0.5px;
	line-height: 30px;
	text-align: center;
}

.del {
	
	height: 1px;
	width: 30px;
	opacity: 0.3;
	background-color: black;
}

.cards {
  margin-top: 25px;
	height: 277px;
	width: 290px;
}

.mask {
  
	height: 217px;
	width: 290px;
	border-radius: 4px;
	box-shadow: 0 5px 20px 0 rgba(168,77,32,0.5);
}

.rectangle-4 {
	height: 80px;
	width: 290px;
	opacity: 0.8;
	background: linear-gradient(180deg, rgba(29,29,27,0) 0%, #1D1D1B 100%);
}

.xmas-tree {
	height: 18px;
	width: 87px;
	color: #FFFFFF;
	font-family: Palanquin;
	font-size: 18px;
	letter-spacing: 0.5px;
	line-height: 18px;
	text-shadow: 0 5px 10px 0 rgba(248,244,227,0.15);
}

.slide1 {
	background-image: url('/img/slider/slider-1.jpg');
  } 
  
.slide2 {
	background-image: url('/img/slider/slider-2.jpg');
  }
  
.slide3 {
	background-image: url('/img/slider/slider-3.jpg');
  } 
  

.nordlys {
	height: 30px;
	width: 56px;
	color: #573D31;
	font-family: 'Palanquin';
	font-size: 16px;
	letter-spacing: 0.5px;
	line-height: 30px;
	text-shadow: 0 5px 10px 0 rgba(248,244,227,0.15);
}

.diamond {
	height: 30px;
	width: 67px;
	color: #573D31;
	font-family: Palanquin;
	font-size: 16px;
	letter-spacing: 0.5px;
	line-height: 30px;
	text-align: right;
	text-shadow: 0 5px 10px 0 rgba(248,244,227,0.15);
}

.btn-full-zobrazit {
	height: 60px;
	width: 290px;
	border-radius: 4px;
	background-color: #AE9A91;
	box-shadow: 0 5px 10px 0 rgba(174,154,145,0.2);
}

.zobrazit-v-echny-kol {
	height: 36px;
	width: 235px;
	color: #FFFFFF;
	font-family: Palanquin;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0.5px;
	line-height: 36px;
	text-align: center;
}

.produkty {
	height: 957px;
	width: 290px;
}
.dal-i-produkty-a-slu {
	height: 60px;
	width: 260px;
	color: #1D1D1B;
	font-family: 'Quicksand';
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 0.5px;
	line-height: 30px;
	text-align: center;
}

.mask-produkty {
	height: 401px;
	width: 290px;
	border-radius: 4px;
	background-color: #FFFFFF;
	box-shadow: 0 5px 20px 0 rgba(174,154,145,0.5);
}

.reklamni-svicky-mobile {
	height: 140px;
	width: 290px;
}

.reklamni-svi-ky {
	height: 25px;
	width: 159px;
	color: #1D1D1B;
	font-family: 'Quicksand';
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.5px;
	line-height: 25px;
	text-align: center;
}

.spojte-prezentaci-va {
	height: 96px;
	width: 260px;
	color: #573D31;
	font-family: Palanquin;
	font-size: 16px;
	letter-spacing: 0.5px;
	line-height: 24px;
	text-align: center;
}

.vice-informaci {
	height: 29px;
	width: 109px;
	color: #AE9A91;
	font-family: 'Palanquin';
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.5px;
	line-height: 29px;
	text-align: center;
	text-decoration: underline;
}

.mask-prof {
	height: 425px;
	width: 290px;
	border-radius: 4px;
	background-color: #FFFFFF;
	box-shadow: 0 5px 20px 0 rgba(174,154,145,0.5);
}

.profesionalni-osvetleni-mobile {
	height: 140px;
	width: 290px;
}

.profesionalni-osv-tl {
	height: 25px;
	width: 260px;
	color: #1D1D1B;
	font-family: 'Quicksand';
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.5px;
	line-height: 25px;
	text-align: center;
}

.vyu-ijte-ive-sv-tlo {
	height: 120px;
	width: 260px;
	color: #573D31;
	font-family: 'Palanquin';
	font-size: 16px;
	letter-spacing: 0.5px;
	line-height: 24px;
	text-align: center;
}

.bg {
	height: 689px;
	width: 320px;
	background-color: #FFFFFF;
}

.kontaktujte-nas {
	height: 30px;
	width: 260px;
	color: #1D1D1B;
	font-family: 'Quicksand';
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 0.5px;
	line-height: 30px;
	text-align: center;
}

.required {
	color: #78BAAE;
}

.jmeno .p-ijmeni .email .telefon{
	height: 20px;
	width: 66px;
	color:#1D1D1B;
	font-family: 'Quicksand';
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.5px;
	line-height: 20px;
}

.input {
	height: 50px;
	width: 290px;
	border: 1px solid rgba(174,154,145,0.5);
	background-color: #FFFFFF;
}

.checkbox-normal {
	height: 24px;
	width: 24px;
	border: 2px solid #AE9A91;
	border-radius: 4px;
	background-color: #FFFFFF;
}

.souhlasim-se-zpracov {
	padding-left: 20px;
	height: 48px;
	width: 255px;
	color: #573D31;
	font-family: 'Palanquin';
	font-size: 16px;
	letter-spacing: 0.5px;
	line-height: 24px;
}

.btn-full-kontakt {
	height: 60px;
	width: 290px;
	border-radius: 4px;
	background-color: #8ACBC1;
	box-shadow: 0 5px 10px 0 rgba(138,203,193,0.2);
}

.odeslat {
	color: #FFFFFF;
	font-family: 'Palanquin';
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0.5px;
	line-height: 36px;
	text-align: center;
}

.footer-bg {
	height: 582px;
	width: 320px;
	background-color: #1D1D1B;
	color:white;
}

.contact {
	height: 135px;
	width: 290px;
}

.call {
	height: 60px;
	width: 290px;
}

.btn-ghost-zavolej {
	height: 60px;
	width: 290px;
	border: 1px solid #F8F4E3;
	border-radius: 4px;
	background-color: rgba(29,29,27,0.2);
	box-shadow: 0 5px 10px 0 rgba(248,244,227,0.15);
}

.zavolejte {
	height: 36px;
	width: 133px;
	color: #F8F4E3;
	font-family: Palanquin;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0.5px;
	line-height: 36px;
	text-align: center;
	text-shadow: 0 5px 10px 0 rgba(248,244,227,0.15);
}

.btn-ghost-napis {
	height: 60px;
	width: 290px;
	border: 1px solid #F8F4E3;
	border-radius: 4px;
	background-color: rgba(29,29,27,0.2);
	box-shadow: 0 5px 10px 0 rgba(248,244,227,0.15);
}

.napiste {
	height: 36px;
	width: 118px;
	color: #F8F4E3;
	font-family: 'Palanquin';
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0.5px;
	line-height: 36px;
	text-align: center;
	text-shadow: 0 5px 10px 0 rgba(248,244,227,0.15);
}

.email {
	height: 60px;
	width: 290px;
}

.copy {
	height: 33px;
	width: 257px;
	color: #AE9A91;
	font-family: 'Palanquin';
	font-size: 18px;
	line-height: 33px;
}